VITE_FIREBASE_API_KEY=***REMOVED***
VITE_FIREBASE_AUTH_DOMAIN=***REMOVED***
VITE_FIREBASE_DATABASE_URL=***REMOVED***
VITE_FIREBASE_PROJECT_ID=***REMOVED***
VITE_FIREBASE_STORAGE_BUCKET=***REMOVED***.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=***REMOVED***
VITE_FIREBASE_APP_ID=1:***REMOVED***:web:e870f0ee670c8d7f989e53
